<div class="p-grid p-justify-center card">
  <div class="p-col-10 p-sm-6 p-md-4">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 text-center">
          <i class="fas fa-photo-video fa-4x" style="color: rgb(255, 89, 0);"></i> <!-- https://fontawesome.com/v5.15/icons?d=gallery&p=3 -->
          <h2>ImageReader</h2>
        </div>
        <div class="p-col-12">
          <label for="">Usuário:</label>
          <input class="p-col-12" type="text" pInputText />
        </div>
        <div class="p-col-12">
          <label for="">Senha:</label><br>
          <p-password></p-password>
          <!--<input class="p-col-12" type="text" pInputText /> <p-password [(ngModel)]="value3" [toggleMask]="true"></p-password>-->
        </div>
        <div class="p-col-12 text-center">
          <button pButton type="button" label="Entrar" class="p-col-6"></button>
          <!--<p-button label="Click" ></p-button>-->
        </div>
      </div>
    </p-card>
  </div>
</div>
